
@{
    ViewData["Title"] = "Index";
}

<!-- Page title -->
<section class="page-title" style="background-image:url(images/background/3.jpg)">
    <div class="container">
        <div class="outer-box">
            <h1>Blog Grid One</h1>
            <ul class="bread-crumb clearfix">
                <li><a href="index.html">Home</a></li>
                <li class="active">Blog Grid One</li>
            </ul>
        </div>
    </div>
</section>

<!-- Blog section one -->
<section class="blog-section-one sp-two">
    <div class="container">
        <div class="row">
            <!-- News block two -->
            <div class="col-lg-4 news-block-two">
                <div class="inner-box wow fadeInUp" data-wow-duration="1.5s">
                    <div class="image">
                        <img src="~/images/resource/news-4.jpg" alt="">
                        <div class="overlay">
                            <a class="link-btn" href="blog-details.html">
                                <i class="icon-link"></i>
                            </a>
                        </div>
                    </div>
                    <div class="lower-content">
                        <ul class="post-meta">
                            <li><span>Explore</span></li>
                            <li><span>Lyfestyle</span></li>
                        </ul>
                        <h4><a href="blog-details.html">Aspernatur aut odit fugit.</a></h4>
                        <div class="text">Lorem ipsum dolor sit amet adipelit sed eius mtempor encid dolore</div>
                    </div>
                </div>
            </div>
            <!-- News block two -->
            <div class="col-lg-4 news-block-two">
                <div class="inner-box wow fadeInUp" data-wow-duration="1.5s">
                    <div class="image">
                        <img src="~/images/resource/news-5.jpg" alt="">
                        <div class="overlay">
                            <a class="link-btn" href="blog-details.html">
                                <i class="icon-link"></i>
                            </a>
                        </div>
                    </div>
                    <div class="lower-content">
                        <ul class="post-meta">
                            <li><span>Explore</span></li>
                            <li><span>Lyfestyle</span></li>
                        </ul>
                        <h4><a href="blog-details.html">Aspernatur aut odit fugit.</a></h4>
                        <div class="text">Lorem ipsum dolor sit amet adipelit sed eius mtempor encid dolore</div>
                    </div>
                </div>
            </div>
            <!-- News block two -->
            <div class="col-lg-4 news-block-two">
                <div class="inner-box wow fadeInUp" data-wow-duration="1.5s">
                    <div class="image">
                        <img src="~/images/resource/news-6.jpg" alt="">
                        <div class="overlay">
                            <a class="link-btn" href="blog-details.html">
                                <i class="icon-link"></i>
                            </a>
                        </div>
                    </div>
                    <div class="lower-content">
                        <ul class="post-meta">
                            <li><span>Explore</span></li>
                            <li><span>Lyfestyle</span></li>
                        </ul>
                        <h4><a href="blog-details.html">Aspernatur aut odit fugit.</a></h4>
                        <div class="text">Lorem ipsum dolor sit amet adipelit sed eius mtempor encid dolore</div>
                    </div>
                </div>
            </div>
            <!-- News block two -->
            <div class="col-lg-4 news-block-two">
                <div class="inner-box wow fadeInUp" data-wow-duration="1.5s">
                    <div class="image">
                        <img src="~/images/resource/news-7.jpg" alt="">
                        <div class="overlay">
                            <a class="link-btn" href="blog-details.html">
                                <i class="icon-link"></i>
                            </a>
                        </div>
                    </div>
                    <div class="lower-content">
                        <ul class="post-meta">
                            <li><span>Explore</span></li>
                            <li><span>Lyfestyle</span></li>
                        </ul>
                        <h4><a href="blog-details.html">Aspernatur aut odit fugit.</a></h4>
                        <div class="text">Lorem ipsum dolor sit amet adipelit sed eius mtempor encid dolore</div>
                    </div>
                </div>
            </div>
            <!-- News block two -->
            <div class="col-lg-4 news-block-two">
                <div class="inner-box wow fadeInUp" data-wow-duration="1.5s">
                    <div class="image">
                        <img src="~/images/resource/news-8.jpg" alt="">
                        <div class="overlay">
                            <a class="link-btn" href="blog-details.html">
                                <i class="icon-link"></i>
                            </a>
                        </div>
                    </div>
                    <div class="lower-content">
                        <ul class="post-meta">
                            <li><span>Explore</span></li>
                            <li><span>Lyfestyle</span></li>
                        </ul>
                        <h4><a href="blog-details.html">Aspernatur aut odit fugit.</a></h4>
                        <div class="text">Lorem ipsum dolor sit amet adipelit sed eius mtempor encid dolore</div>
                    </div>
                </div>
            </div>
            <!-- News block two -->
            <div class="col-lg-4 news-block-two">
                <div class="inner-box wow fadeInUp" data-wow-duration="1.5s">
                    <div class="image">
                        <img src="~/images/resource/news-9.jpg" alt="">
                        <div class="overlay">
                            <a class="link-btn" href="blog-details.html">
                                <i class="icon-link"></i>
                            </a>
                        </div>
                    </div>
                    <div class="lower-content">
                        <ul class="post-meta">
                            <li><span>Explore</span></li>
                            <li><span>Lyfestyle</span></li>
                        </ul>
                        <h4><a href="blog-details.html">Aspernatur aut odit fugit.</a></h4>
                        <div class="text">Lorem ipsum dolor sit amet adipelit sed eius mtempor encid dolore</div>
                    </div>
                </div>
            </div>
            <!-- News block two -->
            <div class="col-lg-4 news-block-two">
                <div class="inner-box wow fadeInUp" data-wow-duration="1.5s">
                    <div class="image">
                        <img src="~/images/resource/news-10.jpg" alt="">
                        <div class="overlay">
                            <a class="link-btn" href="blog-details.html">
                                <i class="icon-link"></i>
                            </a>
                        </div>
                    </div>
                    <div class="lower-content">
                        <ul class="post-meta">
                            <li><span>Explore</span></li>
                            <li><span>Lyfestyle</span></li>
                        </ul>
                        <h4><a href="blog-details.html">Aspernatur aut odit fugit.</a></h4>
                        <div class="text">Lorem ipsum dolor sit amet adipelit sed eius mtempor encid dolore</div>
                    </div>
                </div>
            </div>
            <!-- News block two -->
            <div class="col-lg-4 news-block-two">
                <div class="inner-box wow fadeInUp" data-wow-duration="1.5s">
                    <div class="image">
                        <img src="~/images/resource/news-11.jpg" alt="">
                        <div class="overlay">
                            <a class="link-btn" href="blog-details.html">
                                <i class="icon-link"></i>
                            </a>
                        </div>
                    </div>
                    <div class="lower-content">
                        <ul class="post-meta">
                            <li><span>Explore</span></li>
                            <li><span>Lyfestyle</span></li>
                        </ul>
                        <h4><a href="blog-details.html">Aspernatur aut odit fugit.</a></h4>
                        <div class="text">Lorem ipsum dolor sit amet adipelit sed eius mtempor encid dolore</div>
                    </div>
                </div>
            </div>
            <!-- News block two -->
            <div class="col-lg-4 news-block-two">
                <div class="inner-box wow fadeInUp" data-wow-duration="1.5s">
                    <div class="image">
                        <img src="~/images/resource/news-12.jpg" alt="">
                        <div class="overlay">
                            <a class="link-btn" href="blog-details.html">
                                <i class="icon-link"></i>
                            </a>
                        </div>
                    </div>
                    <div class="lower-content">
                        <ul class="post-meta">
                            <li><span>Explore</span></li>
                            <li><span>Lyfestyle</span></li>
                        </ul>
                        <h4><a href="blog-details.html">Aspernatur aut odit fugit.</a></h4>
                        <div class="text">Lorem ipsum dolor sit amet adipelit sed eius mtempor encid dolore</div>
                    </div>
                </div>
            </div>
            <!-- News block two -->
            <div class="col-lg-4 news-block-two">
                <div class="inner-box wow fadeInUp" data-wow-duration="1.5s">
                    <div class="image">
                        <img src="~/images/resource/news-13.jpg" alt="">
                        <div class="overlay">
                            <a class="link-btn" href="blog-details.html">
                                <i class="icon-link"></i>
                            </a>
                        </div>
                    </div>
                    <div class="lower-content">
                        <ul class="post-meta">
                            <li><span>Explore</span></li>
                            <li><span>Lyfestyle</span></li>
                        </ul>
                        <h4><a href="blog-details.html">Aspernatur aut odit fugit.</a></h4>
                        <div class="text">Lorem ipsum dolor sit amet adipelit sed eius mtempor encid dolore</div>
                    </div>
                </div>
            </div>
            <!-- News block two -->
            <div class="col-lg-4 news-block-two">
                <div class="inner-box wow fadeInUp" data-wow-duration="1.5s">
                    <div class="image">
                        <img src="~/images/resource/news-14.jpg" alt="">
                        <div class="overlay">
                            <a class="link-btn" href="blog-details.html">
                                <i class="icon-link"></i>
                            </a>
                        </div>
                    </div>
                    <div class="lower-content">
                        <ul class="post-meta">
                            <li><span>Explore</span></li>
                            <li><span>Lyfestyle</span></li>
                        </ul>
                        <h4><a href="blog-details.html">Aspernatur aut odit fugit.</a></h4>
                        <div class="text">Lorem ipsum dolor sit amet adipelit sed eius mtempor encid dolore</div>
                    </div>
                </div>
            </div>
            <!-- News block two -->
            <div class="col-lg-4 news-block-two">
                <div class="inner-box wow fadeInUp" data-wow-duration="1.5s">
                    <div class="image">
                        <img src="~/images/resource/news-15.jpg" alt="">
                        <div class="overlay">
                            <a class="link-btn" href="blog-details.html">
                                <i class="icon-link"></i>
                            </a>
                        </div>
                    </div>
                    <div class="lower-content">
                        <ul class="post-meta">
                            <li><span>Explore</span></li>
                            <li><span>Lyfestyle</span></li>
                        </ul>
                        <h4><a href="blog-details.html">Aspernatur aut odit fugit.</a></h4>
                        <div class="text">Lorem ipsum dolor sit amet adipelit sed eius mtempor encid dolore</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

